@model WebAppMS.Models.DTOControl_dig_lixiviacionM

@{
    ViewBag.Title = "Control_dig_lixiviacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
    <h2>Modificar Control Dig. Lixiviacion </h2>

</header>

<!-- widget div-->
<div>

    @if (Model.resultado == 1)
    {
        <div class="alert alert-block alert-info">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">Información</h4>
            <p>
                Se modificó correctamente la información.
            </p>
            <br>
        </div>
    }

    @if (Model.resultado == 2)
    {
        <div class="alert alert-block alert-info">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">Error</h4>
            <p>
                No se pudo modificar la información.
            </p>
            <br>
        </div>
    }

    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
        <!-- This area used as dropdown edit box -->

    </div>
    <!-- end widget edit box -->
    <!-- widget content -->
    <div class="widget-body no-padding">

        <form id="order-form" class="smart-form" novalidate="novalidate" method="post">
            @Html.HiddenFor(model => model.control_dig_lix_id)
            @Html.HiddenFor(model => model.fecha_desc)
            @Html.HiddenFor(model => model.turno_id)
            @Html.HiddenFor(model => model.celda_id)

            @Html.HiddenFor(model => model.tecnico_apilamiento_id)
            @Html.HiddenFor(model => model.tecnico_lixiviacion_id)

            @Html.HiddenFor(model => model.usuario_crea)
            @Html.HiddenFor(model => model.fecha_crea)         
            <fieldset>
                <div class="row">
                    <section class="col col-6">

                        <label class="label">Fecha</label>
                        <label class="input">
                            <i class="icon-append fa fa-calendar"></i>
                            <input id="fecha_text" type="text" name="request" class="datepicker" data-dateformat='dd/mm/yy'>
                        </label>
                        <br />
                        <label class="label">Truno</label>
                        <label class="select">
                            @Html.DropDownList("ListaTurno123", (IEnumerable<SelectListItem>)ViewBag.ListaTurno, new { @class = "select" })
                        </label>
                        <br />
                        <label class="label">Celda</label>
                        <label class="select">
                            @Html.DropDownList("ListaCelda123", (IEnumerable<SelectListItem>)ViewBag.ListaCelda, new { @class = "select" })
                        </label>
                        <br />
                        <label class="label">Técnico Lixiviación</label>
                        <label class="select">
                            @Html.DropDownList("ListaTecLix123", (IEnumerable<SelectListItem>)ViewBag.ListaTecLix, new { @class = "select" })
                        </label>
                        <br />
                        <label class="label">Técnico Apilamiento</label>
                        <label class="select">
                            @Html.DropDownList("ListaTecApi123", (IEnumerable<SelectListItem>)ViewBag.ListaTecApi, new { @class = "select" })
                        </label>
                        <br />
                        <label class="label">Nro Viajes</label>
                        <label class="input">
                            @Html.EditorFor(model => model.nro_viajes)
                            @Html.ValidationMessageFor(model => model.nro_viajes, "", new { @class = "text-danger" })
                        </label>
                        <br />
                        <label class="label">Celda Opc.</label>
                        <label class="input">
                            @Html.EditorFor(model => model.celda_opc)
                        </label>
                        <br />
                        <label class="label">Nro Camiones</label>
                        <label class="input">
                            @Html.EditorFor(model => model.nro_camiones)
                            @Html.ValidationMessageFor(model => model.nro_camiones, "", new { @class = "text-danger" })
                        </label>
                        <br />
                        <label class="label">Ley Mineral</label>
                        <label class="input">
                            @Html.EditorFor(model => model.ley_mineral)
                            @Html.ValidationMessageFor(model => model.ley_mineral, "", new { @class = "text-danger" })
                        </label>
                        <br />
                        <label class="label">Polígono</label>
                        <label class="input">
                            @Html.EditorFor(model => model.poligono)
                            @Html.ValidationMessageFor(model => model.poligono, "", new { @class = "text-danger" })
                        </label>
                        <br />
                        <label class="label">Pluviometro</label>
                        <label class="input">
                            @Html.EditorFor(model => model.pluviometro)
                            @Html.ValidationMessageFor(model => model.pluviometro, "", new { @class = "text-danger" })
                        </label>
                        <br />
                        <label class="label">Cal Viva</label>
                        <label class="input">
                            @Html.EditorFor(model => model.cal_viva)
                            @Html.ValidationMessageFor(model => model.cal_viva, "", new { @class = "text-danger" })
                        </label>
                        <br />
                        <label class="label">Cal Hidratada</label>
                        <label class="input">
                            @Html.EditorFor(model => model.cal_hidratada)
                            @Html.ValidationMessageFor(model => model.cal_hidratada, "", new { @class = "text-danger" })
                        </label>
                        <br />
                        <label class="label">Corte</label>
                        <label class="input">
                            @Html.EditorFor(model => model.corte)
                            @Html.ValidationMessageFor(model => model.corte, "", new { @class = "text-danger" })
                        </label>
                        <br />
                        <label class="label">Ripeo</label>
                        <label class="input">
                            @Html.EditorFor(model => model.ripeo)
                            @Html.ValidationMessageFor(model => model.ripeo, "", new { @class = "text-danger" })
                        </label>
                        <br />
                        <label class="label">Totalizador TK 2</label>
                        <label class="input">
                            @Html.EditorFor(model => model.totalizador_tk_2)
                            @Html.ValidationMessageFor(model => model.totalizador_tk_2, "", new { @class = "text-danger" })
                        </label>
                        <br />
                        <label class="label">Nivel TK 2</label>
                        <label class="input">
                            @Html.EditorFor(model => model.nivel_tk_2)
                            @Html.ValidationMessageFor(model => model.nivel_tk_2, "", new { @class = "text-danger" })
                        </label>
                        <br />
                        <label class="label">Presión Flujo</label>
                        <label class="input">
                            @Html.EditorFor(model => model.presion_flujo)
                            @Html.ValidationMessageFor(model => model.presion_flujo, "", new { @class = "text-danger" })
                        </label>
                        <br />
                        <label class="label">Comentarios</label>
                        <label class="input">
                            @Html.EditorFor(model => model.comentarios)
                        </label>
                        <br />
                        <label class="label">Flujo</label>
                        <label class="input">
                            @Html.EditorFor(model => model.flujo)
                            @Html.ValidationMessageFor(model => model.flujo, "", new { @class = "text-danger" })
                        </label>
                        <br />
                        <label class="label">Presión ADR</label>
                        <label class="input">
                            @Html.EditorFor(model => model.presion_adr)
                            @Html.ValidationMessageFor(model => model.presion_adr, "", new { @class = "text-danger" })
                        </label>
                        <br />
                        <label class="label">Presión Sump.</label>
                        <label class="input">
                            @Html.EditorFor(model => model.presion_sump)
                            @Html.ValidationMessageFor(model => model.presion_sump, "", new { @class = "text-danger" })
                        </label>
                        <br />
                        <label class="label">Presión 925</label>
                        <label class="input">
                            @Html.EditorFor(model => model.presion_925)
                            @Html.ValidationMessageFor(model => model.presion_925, "", new { @class = "text-danger" })
                        </label>
                        <br />
                        <label>
                            <i></i>Activo @Html.CheckBoxFor(model => model.activo)
                        </label>

                    </section>
                </div>
            </fieldset>

            <footer>
                <a href="@Url.Action("Index", "Control_dig_lixiviacion")" class="btn btn-primary">Volver</a>
                <input type="submit" class="btn btn-primary" name="submit" value="Modificar" onclick="ObtenerCombos()">
            </footer>
        </form>

    </div>
    <!-- end widget content -->
</div>
@section pagespecific {
    <script type="text/javascript">

            // DO NOT REMOVE : GLOBAL FUNCTIONS!

            $(document).ready(function () {
                $('body').css('zoom', '80%');
                document.getElementById("fecha_text").value = document.getElementById("fecha_desc").value;
            });
    </script>
}

<script type="text/javascript">

    function ObtenerCombos() {
        debugger;
        document.getElementById("fecha_desc").value = document.getElementById("fecha_text").value;
        document.getElementById("turno_id").value = document.getElementById("ListaTurno123").value;
        document.getElementById("celda_id").value = document.getElementById("ListaCelda123").value;
        document.getElementById("tecnico_lixiviacion_id").value = document.getElementById("ListaTecLix123").value;
        document.getElementById("tecnico_apilamiento_id").value = document.getElementById("ListaTecApi123").value;
     }

</script>